<!DOCTYPE html>
<html>
  <head>
    <title>Amazon Review Getter</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <form method="POST" action="{{url_for('api')}}">
      <div>Enter Url For Reviews</div>
      <div><input type="text" id="url" name="url" /></div>
      <div>Enter How Many Pages</div>
      <div><input type="number" id="pages" name="pages" /></div>
      <input type="submit" value="Save" />
    </form>
  </body>
</html>
